.custom-nav {
  background-color: #A583F5;
}

.custom-nav img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.about-us-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-size: 17px;
}

.profile-icon {
  color: white;
  font-size: 35px;
}

.dropButton{
  background-color: #A583F5;
  border-style: none;
}

.dropButton:hover{
  background-color: #A583F5;
  border-style: none;
}

.about {
  text-decoration: none;
}

.entrar {
  margin-left: 20px;
}

.dropLink {
  text-decoration: none;
  color: black;
}

.ABNT{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-weight: bolder;
  font-size: x-large;
  border: solid;
  border-radius: 12px;
  border-color: white;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}